body {
    background-color: #f1f1f1;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
  }
  
  h4 {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #555;
  }
  
  #camera {
    width: 500px;
    height: 400px;
    border: 2px solid #555;
  }
  
  img {
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px #888;
    transition: all 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.2);
  }
  
  .column {
    display: inline-block;
    padding: 10px;
  }